<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Linux Quiz Game</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="config-popup popup-container active">
    <div class="config-container quiz-box">
      <h1 class="config-title">Linux Quiz Game</h1>

      <div class="config-option">
        <h4 class="option-title">Select Level</h4>
        <div class="level-options">
          <button class="level-option active">Easy</button>
          <button class="level-option">Medium</button>
          <button class="level-option">Hard</button>
        </div>
      </div>

      <button class="start-quiz-btn">Start Quiz</button>
    </div>
  </div>

  <div class="quiz-popup popup-container">
    <div class="quiz-container quiz-box">
      <header class="quiz-header">
        <h2 class="quiz-title">Linux Quiz</h2>
        <div class="quiz-timer"><p class="timer-duration">15s</p></div>
      </header>

      <div class="quiz-content">
        <h1 class="question-text"></h1>
        <ul class="answer-options"></ul>
      </div>

      <div class="quiz-footer">
        <p class="question-status"></p>
        <div class="quiz-controls">
          <button class="next-question-btn">Next</button>
    	  <button class="exit-quiz-btn">Exit</button>
  	</div>
      </div>
    </div>
  </div>

  <div class="result-popup popup-container">
    <div class="result-container quiz-box">
      <h2 class="result-title">Quiz Completed!</h2>
      <p class="result-message"></p>
      <button class="try-again-btn">Try Again</button>
    </div>
  </div>

  <script>
    const quizDataUrl = "{{ url_for('static', filename='quiz.json') }}";
  </script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

